@page "/ingredient/{IngredientId}"

@if (Ingredient != null)
{
    <MudContainer Class="my-5">
        <div class="d-flex gap-2">
            <InventoryManagementSystem.Components.BackButton/>
            <InventoryManagementSystem.Components.UpdateButton Value="ingredient" Id="@Ingredient.Id.ToString()" />
            <InventoryManagementSystem.Components.DeleteButton Value="ingredient" Id="@Ingredient.Id.ToString()" />
        </div>
        <MudPaper Elevation="3" Class="p-4">
            <MudGrid>
                <MudItem xs="12" md="6" lg="8">
                    <h2 class="mb-4">@Ingredient.Name</h2>
                    <div class="mb-4">
                        <strong>Usage (ml):</strong>
                        <span class="ml-2">@Ingredient.MlUsage</span>
                    </div>
                    <div class="mb-4">
                        <strong>Total (ml):</strong>
                        <span class="ml-2">€ @Ingredient.MlTotal</span>
                    </div>

                    @if (Ingredient.Prices != null || Ingredient.Prices.Any())
                    {
                        <div class="mb-4">
                            <MudSpacer />
                            <MudTable Items="@Ingredient.Prices" Class="mb-2">
                                <ToolBarContent>
                                    <MudText Typo="Typo.h6">Prices</MudText>
                                    <MudSpacer />
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Price</MudTh>
                                    <MudTh>Ml</MudTh>
                                    <MudTh>Website Link</MudTh>
                                </HeaderContent>
                                <RowTemplate Context="price">
                                    <MudTd>@price.IngredientPrice</MudTd>
                                    <MudTd>@price.Ml</MudTd>
                                    <MudTd>@price.WebsiteLink</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </div>
                    }
                    
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudContainer>


}
