<MudPaper Width="240px" Elevation="0" Class="h-100">
    <MudNavMenu Class="pa-2 d-flex flex-column h-100" Rounded="true" Color="Color.Primary" Margin="Margin.Dense">
        <MudNavLink Href="/" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
        <MudNavLink Href="/analytics" Icon="@Icons.Material.Filled.Analytics">Analytics</MudNavLink>
        <MudNavLink Href="/product-overview" Icon="@Icons.Material.Filled.Store">Products</MudNavLink>
        <MudNavLink Href="/ingredient-overview" Icon="@Icons.Material.Filled.Nature">Ingredients</MudNavLink>
        <MudNavLink Href="/order-overview" Icon="@Icons.Material.Filled.ShoppingCart">Orders</MudNavLink>


        <!-- Move the Settings link to the bottom using mt-auto -->
        
        <div class ="mt-auto">
            <MudDivider />
            <MudNavLink Href="/settings" Icon="@Icons.Material.Filled.Settings">Settings</MudNavLink>
        </div>
        
    </MudNavMenu>
</MudPaper>

